<div class="container-login">
    {{#if error}}
        <div style="font-weight: bold; color:red;">{{error}}</div>
    {{/if}}
    <form class="form-login" action="/api/sessions/recoverpassword" method="post">
        <div id="mensaje"></div>
        <input type="email" name="email" placeholder="email" id="email" />
        <input class="submit" type="submit" value="Recover" id="submit" />
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
