<div class="container-login">
    <form class="form-login" action="/api/sessions/changepassword?token={{token}}" method="post">
        <div id="mensaje"></div>
        <input type="password" name="password" placeholder="contraseña nueva" id="password" />
        <input class="submit" type="submit" value="Recover" id="submit" />
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>